.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  width: 80%;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding: 0;
}
