.khan__buy-link {
  display: inline;
  vertical-align: top;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.33;
  color: rgb(15, 192, 139);
  transform: translateX(20px);
  transition: 1.5s;
}
